body{
  margin-left: 7%;
  margin-right: 13%;
  background-color: rgba(175, 238, 238, 0.2);
  background-image: url("https://www.ferrarelle.it/static/media/02-nuvola-invert.881341a2.png");
}

#title-img{
  height: 200px;
  width: 300px;
  position: relative;
  left: 7%;
  border: 0.5px solid black;
}

#title-txt{
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
  color: tomato;
  margin-left: 5%;
  position: relative;
  bottom: 70px;
  border: 0.5px solid black;
  padding: 5px;
}

#title-img2{
  height: 200px;
  width: 300px;
  position: relative;
  left: 18%;
  border: 0.5px solid black;
}

.titolo-img{
  border-radius: 5%;
}


#horizontal-rule{
  border-color: red;
}

.main-part{
  border-left: 1px solid black;
  padding-left: 1%;
}

.main-part{
  font-family: 'Cormorant Garamond', serif;
  font-size: 22px;
}

.titolinoni{
  font-family: italic;
  font-size: 25px;
}

.titolini{
  font-family: italic;
}

#article-img{
  height: 200px;
  width: 300px;
  margin-left: 20%;
  border: 1px solid black;
}

.immagini{
  border: 1px solid black;
}

#cazu{
  height: 200px;
  width: 300px;
  position: relative;
  left: 20%;
  border: 0.5px solid black;
}

.lolink{
  color: red;
  text-decoration: none;
}


#titolo2{
  height: 205px;
  width: 270px;
  position: relative;
  left: 40%;
  border: 1px solid black;
}

aside{
  margin-right: 10%;
}
.pepsi-glass #pepsi-cola{
  height: 260px;
  width: 250px;
  position: absolute;
  bottom: 40%;
  left: 86.5%;
}


.pepsi-logo #logo-pep{
  height: 150px;
  width: 150px;
  position: absolute;
  bottom: 20%;
  left: 90%;
}

#logo-inps{
  height: 150px;
  width: 150px;
  position: absolute;
  bottom: 1%;
  left: 90%;
}

.quadrato{
  box-sizing: border-box;
  border: 1px solid black;
  padding: 5px;
  height: 100px;
  width: 1000px;
  fill: beige;
  position: absolute;
  top: 2000px;
}

.i-nostri-link{
  text-decoration: none;
  color: black;
}

.rect{
  box-sizing: border-box;
  border: 1px solid black;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 2000px;
  left: 1%;
  right: 1%;
  padding: 20px;
}


.inf{
  font-size: 30px;
}

.whus{
  margin-left: 15%;
  margin-right: 15%;
}

.il-nostro-progetto{
  margin-left: 15%;
  margin-right: 15%;
}

.btn {
  display: inline-block;
  padding: 3px 9px;
  background-color: #beige;
  color: #c0c0c0;
  border: 1px solid #222;
  border-radius: 3px;
  text-decoration: none;
  font-family: italic;
  margin: 20%;
  font-size: 30px;
  cursor: crosshair;
}

#logo-azienda{
  height: 100px;
  width: 150px;
  border-radius: 10%;
}
